#!/bin/bash

OS="$(uname | tr '[:upper:]' '[:lower:]')"

LOCAL_ARCH=$(uname -m)

case "${LOCAL_ARCH}" in
  x86_64)
    ARCH=amd64
    ;;
  armv8*)
    ARCH=arm64
    ;;
  aarch64*)
    ARCH=arm64
    ;;
  armv*)
    ARCH=armv7
    ;;
  amd64|arm64)
    ARCH=${LOCAL_ARCH}
    ;;
  *)
    echo "This system's architecture, ${LOCAL_ARCH}, isn't supported"
    exit 1
    ;;
esac

case "${OS}" in
  darwin)
    ARCH=macos
    ;;
  *)
    echo "This system's architecture, ${OS}, isn't supported"
    exit 1
    ;;
esac


alias k=kubectl
export AWS_PROFILE=aws-security
export AWS_REGION=us-east-1
export PROJECT_HOME="${PWD}"
export AWS_USER="$(aws sts get-caller-identity | jq -r '.Arn' | cut -d "/" -f2)"
export KUBECONFIG=${PROJECT_HOME}
echo "Please adjust any necessary variable to your environment"
